<p id="notice"><%= notice %></p>

<p>
  <b>Giorno:</b>
  <%= @ggsettimana.gg %>
</p>


<%= link_to 'Modifica', edit_ggsettimana_path(@ggsettimana) %> |
<%= link_to 'Torna Indietro', ggsettimanas_path %>
